@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/utilities";

$utilities: (
    "background":(
        property: background,
        class: bag,
        values:(
            grass: #69C23D,
            poison: #923A92,
            fire: #ED6D12,
            flying: #8E6FEB,
            water: #4578ED,
            bug: #97A51D,
            normal: #9C9C63,
            electric: #F6C913,
            ground: #DBB54D,
            fairy: #E87890,
            fighting: #AE2424,
            psychic: #F73670,
            steel: #A0A0C0,
            ice: #7ECECE,
            ghost: #644E88,
            rock: #A48F32,
            dark: #644E40,
        )
    )
);


@import "./node_modules/bootstrap/scss/bootstrap.scss"