<div class="mx-auto load">
    <h1 class="text-center">Loading...</h1>
    <figure class="d-flex dd">
     <img class="mx-auto" src="https://i.imgur.com/X7emauM.gif" alt="pikachu" class="loading" >
    </figure>
</div>