<div class="mx-auto load">
    <h3 class="text-center "><LinkTo class="link" @route="pokemons">ViewPokemon Characters</LinkTo></h3>
    {{!-- <h3 class="text-center"><LinkTo class="link" @route="pokemons" @query={{hash search='charmander'}}>Charmander</LinkTo></h3> --}}
    <figure class="w-100 d-flex justify-content-center">
        <img class="transparent" src="	http://assets.stickpng.com/images/580b57fcd9996e24bc43c325.png" alt="pikachu" >
    </figure>
</div>
{{outlet}}